<mat-card class="form-container" appearance="outlined">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="form-login">
            <div class="grid">
                <mat-form-field class="col-12 form-tile">
                    <mat-label>CPF/E-mail</mat-label>
                    <input type="text" matInput>
                </mat-form-field>
                <mat-form-field class="col-12 form-tile">
                    <mat-label>Senha</mat-label>
                    <input type="password" matInput>
                </mat-form-field>
                <div class="col-12 flex-center form-tile">
                    <button mat-raised-button color="primary">Entrar</button>
                </div>
                <div class="col-12 flex-center registration-link-container form-tile">
                    <p>Ainda não tem conta? <a routerLink="/cadastro">Cadastre-se</a></p>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>