.course-list-container {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;

  .course-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 0;
    @media (max-width: 1000px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 800px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 550px) {
      grid-template-columns: 1fr;
    }
  }

  .loading {
    .loading-content {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .load-more-button {
    font-size: 1.5rem;
    width: 100%;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
}
